# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
shcap_env/
agb_env/
venv/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files (keep structure, ignore data)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl
models/*.joblib

.github